body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 95%;
    margin: 0 auto;
    padding: 20px;
    text-align: left;
  }
  
  .top-bar {
    background-color: 4f9cf9;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
  
  .brand {
    font-weight: bold;
  }
  
  .content {
    text-align: center;
  }
  
  h1 {
    font-size: 24px;
  }
  
  form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input[type="checkbox"] {
    margin-right: 10px;
  }
  #ingles{
    position: relative;
    right: 1px;
  }
  #espanhol{
    position: relative;
    left: 5px;
  }
  #frances{
    position: relative;
    left: 3px;
  }
  #italiano{
    position: relative;
    left: 2px;
  }
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  #idioma {
 
  font-size: 16px; /* Adjust font size as desired */
  padding: 5px 10px; /* Adjust padding for content spacing */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 5px; /* Add rounded corners */}


  